# Truffle
igv-saves
/*.cfg

# Java
*.class

# Misc
*.log
.*.swp

# Truffle bootcp
local.properties

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Idea
.idea
*.iml

# Gradle
/build
.gradle
/gradle
gradlew*
